
body{
    background-color: #CCCCFF;
    font: 14pt bold;
    font-family: sans-serif;
    text-align: center;
}

#head{
    font-size: 32pt;
    text-align: center;
    margin: 0px;
}

#viewBoard{
    width: 90%;
    height: 400px;
    margin: auto;
    font-family: monospace;
    font: 12pt bold;
}

#allControls{
    width: fit-content;
    margin: auto;
}

.controls{
    border: 5px solid black;
    display: inline;
}

#validators{
    text-align: right;
}