/*html and css validation icons on a bottom right fixed position and is opaque */
#validation{
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
    text-align: right;
}
body{
    background-image: url("images/javascriptbackground.png");
    opacity: 0.5%;
}
p{
    text-align: center;
    color: white;
    font-size: 30px;

}
